#scene {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease;
}
#scene {
  background-image: url("assets/images/room_day.jpg");
}
